.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.disabling-div {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  transition: 0.5s;
}

.disabling-div--show {
  visibility: visible;
  background: rgba(255,255,255, .2);
}

.content-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.video-container {
  background-color: #212121;
  width: 60%;
  position: relative;
}

.playlist-container {
  background-color: #212121;
  width: 40%;
  overflow: scroll;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 84px;
  background-color: #263238;
}

.nav-title {
  padding-left: 40px;
  color: #FAFAFA;
  font-size: 25px;
  letter-spacing: 3px;
}

.nav-search {
  margin-left: auto;
  padding-right: 40px;
}

.nav-search-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.nav-search-icon {
  color: #FAFAFA;
  font-size: 36px;
}

.search-drawer {
  height: 100%;
  width: 420px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: -420px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.search-drawer-open {
  right: 0;
}

@media only screen
  and (max-width: 979px) {
    .content-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .video-container {
      width: 100%;
    }

    .playlist-container {
      width: 100%;
    }
}
