.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen
  and (max-width: 979px) {
  .video {
    position: static;
    transform: initial;
    text-align: center;
    padding-top: 30px;
  }
}
